[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"]}
logzero = "*"
gevent = "*"
greenlet = {version = "*",platform_python_implementation = "=='CPython'"}
swagger-ui-bundle = "*"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.6"
